@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.container{
    min-width: 300px;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0,5px,10px,rgba(0,0,0,0.3);
    background-color: azure;
    border-radius: 15px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.heading h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 2px;
    background-color: #fdcb6e;
    font-size: 1.5rem;
}

.form input {
    
    background-color: transparent;
    padding: 5px ;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #fdcb6e;
    font-size: 1rem;
    color: darkslateblue;
    width: 70%;
    margin-bottom: 20px;
    font-family: inherit;
  }

  .form input:focus{
    outline: none;
  }

  button{
    padding: 10px 15px;
    border: none;
    font-family: inherit;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #ffeaa7;
    margin-left: 10px;
    font-size: 14px;
  }

  ul{
    list-style-type: decimal;
  }

  li{
    font-family: inherit;
    font-size: 1.2rem;
  }

  .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }